.btn {
  border-radius: 10rem;
  min-width: 5rem;
  border: none !important;
  box-shadow: none !important;
  padding: 0.75rem 2rem !important;
  @include flex-centered();
}

.btn-primary {
  background-color: $primary;
  color: $light;

  &:hover:not(:disabled) {
    filter: brightness(90%);
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    filter: brightness(80%);
  }
}

.btn-secondary {
  background-color: $secondary;
  color: $light;

  &:hover:not(:disabled) {
    filter: brightness(90%);
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    filter: brightness(80%);
  }
}

.btn-outline-white {
  background-color: transparent;
  color: $light !important;
  border: 1px solid $light !important;

  &:hover:not(:disabled) {
    background-color: $light !important;
    color: $primary !important;
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $light !important;
    color: $primary !important;
    filter: brightness(90%);
  }
}

.btn-outline-primary {
  background-color: transparent;
  color: $primary !important;
  border: 1px solid $primary !important;

  &:hover:not(:disabled) {
    background-color: $light !important;
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $primary-light !important;
  }
}

.btn-outline-secondary {
  background-color: transparent;
  color: $secondary !important;
  border: 1px solid $secondary !important;

  &:hover:not(:disabled) {
    background-color: $light !important;
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $secondary-light !important;
  }
}

.btn-ghost-primary {
  background-color: transparent;
  color: $primary !important;

  &:hover:not(:disabled) {
    background-color: $light !important;
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $primary-light !important;
  }
}

.btn-ghost-secondary {
  background-color: transparent;
  color: $secondary !important;

  &:hover:not(:disabled) {
    background-color: $light !important;
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $secondary-light !important;
  }
}
