.service-category-list-container {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.service-category-image {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 10rem;
  height: 10rem;
}
