.shadow-sm {
  box-shadow: $shadow-sm;
}

.shadow-lg {
  box-shadow: $shadow-lg;
}

.header-background-primary {
  box-shadow: $shadow-lg;
  background-color: $primary;
  color: $light;
}

.header-background-secondary {
  box-shadow: $shadow-lg;
  background-color: $secondary-dark;
  color: $light;
}

.hero-background {
  background-color: $primary;
  color: $light;
}
