.service-category-list-container {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.search-illustration-container {
  top: 0.5rem;
  left: 3rem;

  @media only screen and (max-width: 992px) {
    & {
      display: flex;
      width: 100%;
      top: 1.5rem;
      left: 0;
      justify-content: center;
    }
  }
}

.rotate-icon-down {
  transform: rotate(90deg);
}
