.sidebar-content {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  height: 100vh !important;
  border: 0;
  width: 17.5rem !important;
}

.bg-secondary-dark-content {
  background-color: $secondary-dark;
}

.bg-primary-content {
  background-color: $primary;
}

.header-tooltip-content {
  background-color: $light;
  box-shadow: $shadow-sm;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: none;
}

.popup-error-content {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  padding: 3rem;
  border: 0;
  width: 30rem !important;

  @media only screen and (max-width: 768px) {
    & {
      width: 90vw;
    }
  }
}

.filter-tooltip-content {
  width: auto !important;
  max-width: 83%;
  background-color: white;
  border-radius: 1rem !important;
  box-shadow: $shadow-sm !important;
  padding: 1rem 2rem;
  border: none;
}
