h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  cursor: default;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  cursor: default;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  cursor: default;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  cursor: default;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
  cursor: default;
}

small {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: normal;
  cursor: default;
}

a:focus-visible {
  outline: none !important;
}

a.text-light:focus {
  color: $light !important;
}

hr {
  border-top: 1px solid $light;
}
.font-weight-semibold {
  font-weight: $font-weight-semibold !important;
}

.font-weight-light {
  font-weight: $font-weight-light !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.text-line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  @for $i from 1 through 10 {
    &.line-#{$i} {
      -webkit-line-clamp: $i;
    }
  }
}
