$primary: #5475e7 !default;
$primary-dark: #1e3995 !default;
$primary-light: #e4eaff !default;
$secondary: #77c387 !default;
$secondary-dark: #25766d !default;
$secondary-light: #eafaf1 !default;

$light: #f7f7f8 !default;
$muted: #949c9e !default;
$grey: #494f50 !default;
$dark: #2d2d34 !default;

$danger: #f06543 !default;
$success: #56eca4 !default;
$warning: #fdcc4d !default;

$theme-colors: () !default;

$theme-colors: map-merge(
  (
    'primary': $primary,
    'primary-dark': $primary-dark,
    'primary-light': $primary-light,
    'secondary': $secondary,
    'secondary-dark': $secondary-dark,
    'secondary-light': $secondary-light,
    'light': $light,
    'muted': $muted,
    'grey': $grey,
    'dark': $dark,
    'danger': $danger,
    'success': $success,
    'warning': $warning,
  ),
  $theme-colors
);
